/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/smrnaseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                      = "/shared/data/sandbox/abartlett/smrnaseq-20221213-novogene_LIN28B_KD_short.csv"

    // Workflow flags
    protocol                   = null

    // References
    genome                     = null
    igenomes_base              = '/shared/ngi-igenomes/igenomes'
    igenomes_ignore            = false
    fasta                      = '/shared/nextrna-resources/grch38/hg38_onlychrom.fa'
    mirna_gtf                  = '/shared/nextrna-resources/mirbase/22.1/hsa.gff3'
    bt_indices                 = null
    mirtrace_species           = 'hsa'
    mirtrace_protocol          = 'illumina'
    mature                     = "/shared/nextrna-resources/mirbase/22.1/mature.fa"
    hairpin                    = "/shared/nextrna-resources/mirbase/22.1/hairpin.fa"

    // Trimming options
    clip_r1                    = 0
    three_prime_clip_r1        = 0
    three_prime_adapter        = "AGATCGGAAGAGCACACGTCT"
    min_length                 = 17
    skip_qc                    = false
    skip_fastqc                = false
    skip_multiqc               = false
    skip_mirdeep               = true
    skip_trimming              = false
    save_reference             = false
    trim_galore_max_length     = 40

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    max_multiqc_email_size     = '25.MB'

    // Boilerplate options
    outdir                     = '/shared/data/sandbox/abartlett/smallrnaseq/'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    help                       = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'
    enable_conda               = false

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    // max_memory                 = '128.GB'
    // max_cpus                   = 16
    // max_time                   = '240.h'

    max_cpus   = 8
    max_memory = '24.GB'
    max_time   = '6.h'

}


